node_modules/
android/local.properties
android/.gradle/
android/build/
android/app/build/
android/captures/
android/app/release/
android/app/debug/
*.apk
*.aab
*.jks
*.keystore

ios/App/Pods/
ios/App/build/
ios/App/DerivedData/
ios/App/*.xcuserstate
ios/App/**/xcuserdata/
*.ipa
*.mobileprovision
*.p12
