<svg class="grafico-svg" viewBox="0 0 320 320" xmlns="http://www.w3.org/2000/svg" role="img" aria-hidden="true">
    <path class="grafico-blob" d="M42,124 C14,78 66,18 138,24 C206,30 262,14 292,72 C322,130 302,202 248,244 C196,284 116,302 66,258 C18,216 68,172 42,124 Z"/>
    <circle class="grafico-anel" cx="160" cy="160" r="88" stroke-dasharray="430 90" transform="rotate(-40 160 160)"/>
    <circle class="grafico-moeda" cx="160" cy="160" r="66"/>
    <text class="grafico-cifrao" x="160" y="177" text-anchor="middle" font-size="46" letter-spacing="-2">R$</text>
</svg>
